<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cs" value="Data Source=MotoServis.db"/>
		<add key="host" value="smtp.seznam.cz"/>
		<add key="port" value="465"/>
		<add key="username" value="motorbike.servis@email.cz"/>
		<add key="password" value="abc1234"/>
	</appSettings>
</configuration>